<?php session_start(); ?>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<title>The Future is Here</title>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" href="css/1.css" type="text/css" media="screen,projection" />
</head>
<body>
<div id="wrapper">
	
	<div id="header">
		<p class="description">A Ramu Thumu Fan Club</p>
		<h1><a href="index.php"> The future is Here!</a></h1>
		<ul id="nav">
			<li><a href="books.php">Books</a></li>
                         
                        <?php
                            if (isset($_SESSION['username']) && $_SESSION['username'] != '') {


			echo '<li><a href="stories.php">Stories</a></li>';
                       }

                      ?>
			<li><a href="quotes.php">Quotes</a></li>
			
                      <?php
                            if (isset($_SESSION['username']) && $_SESSION['username'] != '') {
  

                       echo '<li><a href="upload.php">Upload</a></li>
			<li><a href="email.php">Contact</a></li>
			<li><a href="logout.php">logout</a></li>';
                        } else{
                                echo '<li>
                                <a href="login.php">Login</a>
                            </li>
                            <li>
                                <a href="register.php">Register</a>
                            </li>';
                            }
                            ?>


		</ul>
	</div>
	
	<div id="sidebar">
		<h2>Favorite Quotes</h2>
			<p class="news">Everyone you will ever meet knows something you don't<br />- <em>Bill Nye</em></p>
		<p class="news">There is a great difference between worry and concern. A worried person sees a problem, and a concerned person solves a problem.<br />- <em>Harold Stephens</em></p>
                        <p><?php
			date_default_timezone_set('America/Chicago');
			print date('g:i a l F j');
			?></p>
	</div>
                <div id="content">
